<div class="container">  
    <h2>Create a Workout</h2>
    <hr>

        <div class="col"> 
            <%= form_for @workout do |f| %>
                <%= render partial: 'form', locals: { f: f } %>
                <%= f.submit "Create Workout", {class: "gym-btn"} %>
            <% end %>
        </div>
</div>