<p><strong><%= helper_rx_scale(score) %></strong></p>

<% if score.workout.category == "For time" %>
    <p>Time: <strong><%= format_time score.result_time, :time %></strong></p>
<% else %>
    <p><strong><%= score.result_reps %> reps</strong></p>
<% end %>

<p><%= format_date score.date %></p>