<div class="container-signup">

    <h2>Create Your Account</h2>
    <p>Keep track your results and compete with athletes all over the world. <%= link_to "Already have an account?", login_path %></p>
    <hr>
        <%= render 'form' %>
</div>