<div class="container">

    <h2>Create Your Account</h2>
    <p>Keep track your results and compete with athletes all over the world. <%= link_to "Already have an account?", login_path %></p>
    <hr>
    
        <%= form_for(@user, url: signup_path) do |f| %>
            <%= render partial: 'form', locals: { f: f } %>
        <%= f.submit "Create Account", {class: "user-account-btn"} %>
        <% end %>
</div>