<div class="container">
    <h2>CrossFit Affiliate Gyms</h2>
    <br>
    <%= link_to "Add a gym", new_gym_path, {class: "add-gym-btn"} %>

    <hr>

    <ul class="gyms">
        <% @gyms.each do |gym| %>
            <li>
                <p><%= link_to gym.name, gym_path(gym), {class: "gyms-link"} %></p>
            </li>
        <% end %>
    </ul>
</div>