<div class="container">
    <h2>Create Gym</h2>
    <hr>
        <%= render partial: 'layouts/error', locals: { object: @gym } %>

        <div class="col">  
            <%= form_for @gym do |f| %>
                <%= render partial: 'form', locals: { f: f } %>
                <%= f.submit "Submit Gym", {class: "gym-btn"} %>
            <% end %>
        </div>
</div>