<h1>Create Gym</h1>

<%= render partial: 'layouts/error', locals: { object: @gym } %>

<%= form_for @gym do |f| %>
    <%= render partial: 'form', locals: { f: f } %>

    <div class="actions">
    <%= f.submit "Submit Gym" %>
    </div>
<% end %>
