<% if object.errors.any? %>
    <div id="error_explanation">
        <span class="req">
    
            <%= pluralize(object.errors.count, "error") %>:<br>

            <ul>
            <% object.errors.each do |error| %>
                <ol><%= error.full_message %></ol>
            <% end %>
            </ul>
         </span>
<% end %>